{% extends 'index.html' %}
{% block title %}ДОСТАВКА{% endblock %}
{% block preloader %}
{% endblock %}

{% block content%}

<div class="dostavka">
    <p> 
        <br>Курьерская доставка по Москве - осуществляется транспортной компанией СДЭК, стоимость по России и Беларуси - 450₽
        <br>
        <br>Доставка - 600-750 по странам снг
        <br>
        <br>При необходимости доставки в другие страны пишите менеджеру в Телеграм: <a href="https://t.me/delusion_brand" target="_blank">https://t.me/delusion_brand</a>
    </p>
</div>

{% endblock %}